---
layout: nil
---

body {
  margin: 0px;
  background: #cbcbcb url('{{ site.url }}/images/background.jpg') scroll no-repeat;
  background-position: top center;
  font-family: Helvetica, Arial, FreeSans; 
  color: #000000;
  position: relative;
}

a { 
  color: #7e540e;
}

a:visited {
  color: #7e540e;
}

a:hover, a:active {
  color: #8e641e;
}

#titlebar {
  width: 1000px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 50px;
}

#logo {
  width: 770px;
  text-align: center;
}

#logo img {
	vertical-align: middle;
}

#navigation {
  float: right;
  text-align: center;
  vertical-align: middle;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

#main_content {
  width: 730px;
  padding: 10px;
  float: left;
}

#sidebar {
  width: 230px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0px;
  float: right;
  margin-top: 0px;
  text-align: center;
}

.sidebar_item {
  padding: 5px;
  margin-bottom: 15px;
  border-left: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  text-align: center;
}

#main_content p {
  margin-left: 20px;
  border-bottom: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  padding-left: 5px;
  padding-bottom: 5px;
}

.post_list {
  margin-left: 20px;
  border-bottom: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  padding-left: 20px;
  padding-bottom: 5px;
}

#footer{
	font-size: .7em;
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 10px;
	clear: both;
}

#footer_content{ 
	width: 740px;
	height: 15px;
	padding: 5px;
	padding-top: 10px;
}

.footer_left{
	float: left;
}

.footer_right{
	float: right;
}

pre code{
	margin-left: 25px;
	overflow: scroll;
	width: *;
	display: block;
	background-color: #cfcfcf;
	padding: 10px;
}

code {
	background-color: #cfcfcf;
	padding-left: 5px;
	padding-right: 5px;
}

h1, h2 {
	margin-top: 0px;
	padding: 0px;
	color: #00006f;
}

#post_comments{
	margin-top: 25px;
	padding-top: 15px;
	border-top: 1px solid #cfcfcf;
	margin-bottom: 10px;
	padding-bottom: 25px;
	border-bottom: 1px solid #cfcfcf;
}
