<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Waco Tech Lunch: A Monthly Lunch Gathering Of Techies In Waco, TX. " />
  <meta name="keywords" content="waco, tx, tech, technical, techie, social, gathering, lunch" />  
  
  <link href="{{ site.url }}/css/main.css" rel="stylesheet" type="text/css" />
  <link href="http://feeds.feedburner.com/WacoTechLunch" rel="alternate" title="WacoTechLunch.net" type="application/atom+xml" />
  
  <script src="{{ site.url }}/scripts/jquery.js" type="text/javascript"></script>
  
  <title>Waco Tech Lunch: {{ page.title }}</title>
  <script language="javascript">
    $(function() {
      $('.rollover').hover(function() {
          var currentImg = $(this).attr('src');
          $(this).attr('src', $(this).attr('hover'));
          $(this).attr('hover', currentImg);
      }, function() {
          var currentImg = $(this).attr('src');
          $(this).attr('src', $(this).attr('hover'));
          $(this).attr('hover', currentImg);
      });
    });
  </script>
</head>
<body>
  <div id="titlebar">
    <div id="logo">
      <img src="{{ site.url }}/images/waco-logo.png"><h1>Waco Tech Lunch</h1>
    </div>
    <blockquote>A Social Gathering Of Techies In Waco, TX</blockquote>
  </div>
  
  <div id="container">
    <div id="main_content">
      {{ content }}
    </div>
    <div id="sidebar">
      <div class="sidebar_item">
        <a href="{{ site.url }}"><img class="rollover" src="{{ site.url }}/images/home.png" hover="{{ site.url }}/images/home-color.png" border="0"></a>
        <a href="{{ site.calendar }}" target="_blank"><img class="rollover" src="{{ site.url }}/images/calendar.png" hover="{{ site.url }}/images/calendar-color.png" border="0"></a>
        <a href="{{ site.twitter }}" target="_blank"><img class="rollover" src="{{ site.url }}/images/twitter.png" hover="{{ site.url }}/images/twitter-color.png" border="0"></a>
        <a href="{{ site.rss }}" target="_blank"><img class="rollover" src="{{ site.url }}/images/rss.png" hover="{{ site.url }}/images/rss-color.png" border="0"></a>
      </div>
      <div class="sidebar_item">
		<script src="http://widgets.twimg.com/j/2/widget.js"></script>
		<script>
		new TWTR.Widget({
		  version: 2,
		  type: 'profile',
		  rpp: 4,
		  interval: 6000,
		  width: 220,
		  height: 300,
		  theme: {
		    shell: {
		      background: '#e0e0e0',
		      color: '#000000'
		    },
		    tweets: {
		      background: '#ffffff',
		      color: '#485d66',
		      links: '#004F15'
		    }
		  },
		  features: {
		    scrollbar: true,
		    loop: false,
		    live: true,
		    hashtags: true,
		    timestamp: true,
		    avatars: true,
		    behavior: 'all'
		  }
		}).render().setUser('wacotechlunch').start();
		</script>
      </div>
    </div>
  </div>
  <div id="footer">
  	<div id="footer_content">
		<div class="footer_left">
		  Copyright ©2009 Derick Bailey. All Rights Reserved.
		</div>
	</div>
  </div>
</body>
</html>